<div class="panel panel-default">
  <div class="panel-heading">
    Actions
  </div>
  <div class="list-group">
  <% if action_name %>
    <button class="list-group-item actioni-name">
        <%= action_name %>
    </button>
  <% end %>
  </div>
</div>
