<div class="panel panel-default">
  <div class="panel-heading">
    Actions
  </div>
  <div class="list-group">
  <% if action_name %>
    <button class="list-group-item action-name">
        <%= action_name %>
    </button>
  <% end %>
  <button class="list-group-item extend">ターンを1分延長する</button>
  <button class="list-group-item skip">ターンを早送りして終了する</button>
  </div>
</div>
