<div class="panel panel-default">
  <div class="panel-heading">
    霊界deトーク
  </div>
  <div>
    <div class="panel-body chat">
      <div class="chat-display sans-serif">
        <div>
          <div>霊界deトークへようこそ!</div>
          <div>ゲーム終了まで他の霊界の仲間たちとこちらでお楽しみください。</div>
        </div>
      </div>
      <form>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default chat" type="submit">
              送信
            </button>
          </span>
          <input type="text" name="chat_msg" class="form-control" placeholder="...">
          <input type="hidden" name="chat_room" value="spirit">
        </div>
      </form>
    </div>
  </div>
</div>
