<div class="panel panel-default">
  <div class="panel-heading">
    Actions
  </div>
  <div class="list-group">
    <button class="list-group-item list-group-item-danger leave">Leave Group</button>
  </div>
</div>
