<div class="panel panel-default">
  <div class="panel-heading">
    Actions
  </div>
  <div class="list-group">
    <a href="/game/round/exit" class="list-group-item start">トップへ戻る</a>
  </div>
</div>
