<div class="panel panel-default">
  <div class="panel-heading">
    Actions
  </div>
  <div class="list-group">
    <button class="list-group-item start">ゲーム開始</button>
    <a href="#" class="list-group-item list-group-item-info toggle first-kill" data-bool="true">
      初夜殺し<span class="pull-right">あり</span>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Settings
  </div>
  <div class="list-group">
    <% roles.each_value do |role| %>
      <div class="list-group-item">
        <div class="list-group-item-heading">
          <h4><%= role.name %></h4>
        </div>
        <div class="list-group-item-text">
          <div class="input-group">
            <span class="input-group-addon">最大人数</span>
            <input class="form-control role-max" type="number" name="<%= role.class.class_name %>" min="0" value="0">
          </div>
          <div class="input-group">
            <span class="input-group-addon">最小人数</span>
            <input class="form-control role-min" type="number" name="<%= role.class.class_name %>" min="0" value="0">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
