<div class="panel panel-default">
  <div class="panel-heading">
    Actions
  </div>
  <div class="list-group">
    <button class="list-group-item start">Start Round</button>
    <button class="list-group-item list-group-item-danger delete">Delete Group</button>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Settings
  </div>
  <div class="list-group">
    <% GenericRole.desendants.each do |desendant| %>
      <div class="list-group-item">
        <div class="input-group">
          <span class="input-group-addon"><%= desendant.instance.name %></span>
          <input class="form-control role-count" type="number" name="<%= desendant.instance.name %>" min="0" value="0">
        </div>
      </div>
    <% end %>
  </div>
</div>
