<div class="panel panel-default">
  <div class="panel-heading">
    Actions
  </div>
  <div class="list-group">
    <a href="/round/exit" class="list-group-item list-group-item-danger">ゲームを抜ける</a>
  </div>
</div>
