<div class="panel panel-default">
  <div class="panel-heading">
    Actions
  </div>
  <div class="list-group">
    <button class="list-group-item start">ゲーム開始</button>
    <a href="/round/exit" class="list-group-item list-group-item-danger">ゲームを抜ける</a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Settings
  </div>
  <div class="list-group">
    <% roles.each_value do |role| %>
      <div class="list-group-item">
        <div class="input-group">
          <span class="input-group-addon"><%= role.name %></span>
          <input class="form-control role-count" type="number" name="<%= role.class.class_name %>" min="0" value="0">
        </div>
      </div>
    <% end %>
  </div>
</div>
