<%= yield %>
<div class="player-list col-sm-6 col-sm-pull-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Players
    </div>
    <ul class="list-group">
      <% session[:game].players.each_key do |key| %>
        <li class="list-group-item"><%= key %></li>
      <% end %>
    </ul>
  </div>
</div>
