<h2>Participate in existing game</h2>
<form method="post" action="/staging_existing">
  <div class="form-group">
    <div class="input-group">
      <input type="text" name="username" class="form-control" placeholder="Username">
      <span class="input-group-addon" id="atmark">@</span>
      <input type="text" name="game" class="form-control" placeholder="Game">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" type="button">Enter</button>
      </span>
    </div>
  </div>
</form>
<h2>Open new game</h2>
<form method="post" action="/staging_new">
  <div class="form-group">
    <div class="input-group">
      <input type="text" name="username" class="form-control" placeholder="Username">
      <span class="input-group-addon" id="atmark">@</span>
      <input type="text" name="game" class="form-control" placeholder="Game">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" type="button">Enter</button>
      </span>
    </div>
  </div>
</form>
