<div class="panel panel-default">
  <div class="panel-heading">
    Info
  </div>
  <div class="panel-body">
    <div>
      <div>新しいゲーム<%= session[:round] %>を作成しました。</div>
      <div>あなたのユーザー名は<%= session[:username] %>です。</div>
      <% if params.key?( :passcode ) %>
        <div>パスコードは<%= params[:passcode] %>です。</div>
      <% end %>
      <div>5分以内にゲームを開始してください</div>
    </div>
  </div>
</div>
