<div class="panel panel-default">
  <div class="panel-heading">
    Info
  </div>
  <div class="panel-body">
    <div>You have created new group <%= session[:game] %></div>
    <div>Your username is <%= session[:username] %></div>
  </div>
</div>
