<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Top - YAWG</title>
    <%= stylesheet_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <%= javascript_tag 'application' %>
    </div>
  </body>
</html>
