<div class="panel panel-default">
  <div class="panel-heading">
    Winners
  </div>
  <ul class="list-group">
    <% winners.each do |key, value| %>
      <li class="list-group-item"><%= key %> <span class="pull-right">役職: <%= value.role.name %></span></li>
    <% end %>
  </ul>
  <div class="panel-heading">
    Losers
  </div>
  <ul class="list-group">
    <% losers.each do |key, value| %>
      <li class="list-group-item"><%= key %> <span class="pull-right">役職: <%= value.role.name %></span></li>
    <% end %>
  </ul>
</div>
