<div class="panel panel-default">
  <div class="panel-heading">
    Players
  </div>
  <div class="list-group">
    <% players.each_key do |key| %>
      <a href="#" class="list-group-item single-select sans-serif" data-target="<%= key %>">
        <%= key %>
      </a>
    <% end %>
  </div>
</div>
