<div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= round %>から途中で退出されたようです
    </div>
    <div class="list-group">
      <a href="/game/round" class="list-group-item">再接続する</a>
      <a href="/game/round/exit"class="list-group-item list-group-item-danger">ゲームを抜ける</a>
    </div>
  </div>
</div>
