<div class="list-group-item round-list-header">
  ゲームを選択してください (15秒に一度更新されます)
</div>
<% rounds.each do |round| %>
  <a href="#" class="list-group-item round sans-serif" data-round="<%= round %>">
    <%= round %>
  </a>
<% end %>
