<h1 class="phase">Waiting for round to start</h1>
<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Info
    </div>
    <div class="panel-body">
      <p>You have created new group <%= session[:game].name %></p>
      <p>Your username is <%= session[:username].name %></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-sm-push-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Actions
    </div>
    <div class="list-group">
      <button class="list-group-item start">Start Round</button>
      <button class="list-group-item list-group-item-danger delete">Delete Group</button>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Settings
    </div>
    <div class="list-group">
      <% GenericRole.desendants.each do |desendant| %>
        <div class="list-group-item">
          <div class="input-group">
            <span class="input-group-addon"><%= desendant %></span>
            <input class="form-control" type="number" name="placeholder" min="0">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
