<h1>Waiting for round to start</h1>
<div class="col-md-12">
  <p>You have joined group <%= session[:game].name %></p>
  <p>Your username is <%= session[:username].name %></p>
  <p>List of players in your group</p>
</div>
<div class="player-list col-md-6">
  <ul class="list-group">
    <% session[:game].players.each_key do |key| %>
      <li class="list-group-item"><%= key %></li>
    <% end %>
  </ul>
</div>
