@mixin noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

div.main {
  margin-bottom: 50px;
}

div.page-header {
  > h1 {
    @media screen and (max-width: 480px) {
      font-size: 18pt;
    }
  }
}

div.info {
  div.panel-body {
    height: 10em;
    padding: 0 1em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;

    > div {
      margin-top: 0;
    }
  }
}

div.specifics {
  > ul {
    margin-bottom: 0;
  }
}

div.chat {
  > form {
    margin-top: 10px;
  }

  > div.chat-display {
    height: 6em;
    padding: 0 1em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;

    > div {
      margin-top: 0;
    }
  }
}

button.list-group-item {
  &:focus {
    outline: none !important;
  }
}

a.quad-state {
  @include noselect;

  &:focus {
    outline: none !important;
  }

  > span.badge:hover {
    cursor: pointer;
  }

  > div.specifics {
    > ul {
      list-style: none;
    }
  }
}

a.single-select {
  @include noselect;

  &:focus {
    outline: none !important;
  }
}
