div.info {
  div.panel-body {
    height: 6em;
    padding: 1em;
    overflow-y: hidden;

    > div {
      margin-top: 2em;
    }
  }
}

.list-group-item:active,
  .list-group-item:active:focus,
  .list-group-item:focus {
    outline: none
}
